In [1]:
import pandas as pd
from sqlalchemy import create_engine
import sqlite3

# conn = sqlite3.connect('database.db')

In [2]:

connection_string = "postgres:postgres@localhost:5432/customer_database_proposal"
engine = create_engine(f'postgresql://{connection_string}')

In [3]:
engine.table_names()

['append_analysis_df']

In [4]:
pd.read_sql_query('select * from append_analysis_df', con=engine).head()

,Customer ID,Proposal #,Market,Project Name,Customer Name,Proposal Value,Estimated Value,Status,Notes,City,Zip Code,Contact Firt Name,Email,Year
0,17403,104454M1,Portable Structures,PORTABLE STRUCTURE WINCHES,NORTH AMERICAN TRADE CORPORATION NORAMCO,30600.00,30600.00,Valid,rfq by phone. 10% discount direct per chris. ...,CONROE,77304,GEORGE,georgeh@noramcousa.com,17
1,10084,104974,Oil & Gas,REQUEST FORWARDED FROM JIM,DELTA RIGGING & TOOLS INC,27111.00,7417.00,Valid,None,ANGLETON,77515,PAULA,None,17
2,19151\n,104722D1,Marine,Electrical cable payout/in for Research Barge,TEXAS UNIVERSITY OF,31281.58,0.00,Valid,None,AUSTIN,78758,PURCHASING,None,17
3,11269,105055,Bulk Handling,Trash Compactor,BISHOP LIFTING PRODUCTS INC,14632.55,0.00,Valid,None,HOUSTON,77029,GAWAIN,gawain.seymour@lifting.com,17
4,10293,105066,Aerospace,SpaceX Booster Rocket lift- Hydraulic Winch,DELTA RIGGING & TOOLS INC,41478.51,41478.51,Valid,wes D,HURST,76053-7403,LARRY,loster@deltarigging.com,17

In [ ]:
analysis_df = pd.read_sql(query.statement, query.session.bind)