In [1]:
# Importing dictionaries 
import pandas as pd
import numpy as np
from sqlalchemy import create_engine

## Store xlsx into Data Frame

In [2]:
# Reading the excel file 

excel_file = 'Resources/Texas 2018 Quotes.xlsx'

texas_2018_df = pd.read_excel(excel_file)
texas_2018_df.head(25)

,BID_CODE,bid_no_calc,BID_YEAR,budgetary,C_city,C_country,C_cust_name,C_state,C_zip,Contact_seq,...,docs::seq,Quote_Line::calc_discount,Rep code_owner_assigned::REP_ORG_CONTACT,Rep_Code_REP_CODE::Rep_Spiro_User,RepCode_inst::REP_ORG_CONTACT,RepCode_inst::REP_ORG_NAME,RepCode_Spec::REP_ORG_CONTACT,RepCode_Spec::REP_ORG_NAME,SlsCode::code_name,Version::Version
0,87.0,110413,18.0,NaN,FORT WORTH,US,MOTION INDUSTRIES INC,TX,76111,NaN,...,NaN,30.0,NaN,NaN,NaN,NaN,NaN,NaN,Jim Wilson,1011.0
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,30.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1010.0
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,30.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1009.0
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,30.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1008.0
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,30.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1007.0
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,30.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,30.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,84.0,110464,18.0,NaN,HOUSTON,US,BISHOP LIFTING PRODUCTS INC,TX,77029,86.0,...,NaN,30.0,NaN,NaN,NaN,NaN,NaN,NaN,Jorge Rueda,1011.0
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,30.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1010.0
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,30.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1009.0
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1008.0
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1007.0
12,83.0,110470,18.0,NaN,HALLSVILLE,US,SABINE MINING COMPANY SMC,TX,75650-7413,3.0,...,NaN,20.0,NaN,NaN,NaN,NaN,NaN,NaN,Mike Waldherr,1011.0
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,20.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1010.0
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,20.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1009.0
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1008.0
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1007.0
17,65.0,110471,18.0,NaN,PASADENA,US,INDUSTRIAL AIR TOOL 101,TX,77506,2.0,...,NaN,30.0,NaN,NaN,NaN,NaN,NaN,NaN,Deb Coombs,1011.0
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,30.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1010.0
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1009.0
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1008.0
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1007.0
22,80.0,110274M1,18.0,NaN,HOUSTON,US,BISHOP LIFTING PRODUCTS INC,TX,77029,77.0,...,NaN,30.0,NaN,24147.0,NaN,NaN,NaN,NaN,Amy Oesau,1011.0
23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,30.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1010.0
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,30.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1009.0

## Creating a New Data Frame with the selected Columns and Transforming the Names of Columns

In [3]:
#  populating a new df with the columns we need from the original data base - texas-df
clean_df_2018_tx = texas_2018_df[['bid_no_calc','BID_YEAR',\
                        'C_city','C_country',\
                        'C_cust_name',\
                        'C_state',\
                        'C_state',\
                        'C_zip',\
                        'contact_true_email',\
                        'contact_true_first',\
                        'Customer_ID',\
                        'intNotes',\
                        'IX_CUST_ID_SEQ',\
                        'Market',\
                        'PROJECT NAME',\
                        'Total_prop_v',\
                        'user_est_total',\
                        'valid']].copy()
clean_df_2018_tx

,bid_no_calc,BID_YEAR,C_city,C_country,C_cust_name,C_state,C_state,C_zip,contact_true_email,contact_true_first,Customer_ID,intNotes,IX_CUST_ID_SEQ,Market,PROJECT NAME,Total_prop_v,user_est_total,valid
0,110413,18.0,FORT WORTH,US,MOTION INDUSTRIES INC,TX,TX,76111,NaN,KEN*,14386,trailer mounted crane Sent to herb@ motion i...,14386|,Construction,571E2,16944.20,5370.40,Valid
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3312,116579,18.0,PASADENA,US,INDUSTRIAL AIR TOOL 101,TX,TX,77506,rolandor@industrialairtool.com,Rolando,10966\n,NaN,10966\n|17,Oil & Gas,Unknown,8036.62,8036.62,Valid
3313,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3314,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3315,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3316,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
# Renaming the df with columns name that make more sense  - new data frame name
rename_2018_df = clean_df_2018_tx.rename(columns={'bid_no_calc':' Proposal #',\
                      'BID_YEAR':'Year',\
                      'C_city':'City',\
                      'C_cust_name':'Customer Name',\
                      'C_state':'State',\
                      'C_zip':'Zip Code',\
                      'contact_true_email':'Email',\
                      'contact_true_first':'Contact Firt Name',\
                      'Customer_ID':'Customer ID 2018',\
                      'intNotes':'Notes',\
                      'Market':'Market',\
                      'PROJECT NAME':'Project Name',\
                      'Total_prop_v':'Proposal Value',\
                      'user_est_total':'Estimated Value',\
                      'valid':'Status'})


rename_2018_df

,Proposal #,Year,City,C_country,Customer Name,State,State,Zip Code,Email,Contact Firt Name,Customer ID 2018,Notes,IX_CUST_ID_SEQ,Market,Project Name,Proposal Value,Estimated Value,Status
0,110413,18.0,FORT WORTH,US,MOTION INDUSTRIES INC,TX,TX,76111,NaN,KEN*,14386,trailer mounted crane Sent to herb@ motion i...,14386|,Construction,571E2,16944.20,5370.40,Valid
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3312,116579,18.0,PASADENA,US,INDUSTRIAL AIR TOOL 101,TX,TX,77506,rolandor@industrialairtool.com,Rolando,10966\n,NaN,10966\n|17,Oil & Gas,Unknown,8036.62,8036.62,Valid
3313,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3314,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3315,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3316,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
# Organizing the df by sorting the columns with better logic and importances 
organized_2018_df= rename_2018_df[['Customer ID 2018',' Proposal #','Market','Project Name','Customer Name','Proposal Value','Estimated Value','Status','Notes','City','Zip Code','Contact Firt Name','Email','Year']].copy()
organized_2018_df

,Customer ID 2018,Proposal #,Market,Project Name,Customer Name,Proposal Value,Estimated Value,Status,Notes,City,Zip Code,Contact Firt Name,Email,Year
0,14386,110413,Construction,571E2,MOTION INDUSTRIES INC,16944.20,5370.40,Valid,trailer mounted crane Sent to herb@ motion i...,FORT WORTH,76111,KEN*,NaN,18.0
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3312,10966\n,116579,Oil & Gas,Unknown,INDUSTRIAL AIR TOOL 101,8036.62,8036.62,Valid,NaN,PASADENA,77506,Rolando,rolandor@industrialairtool.com,18.0
3313,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3314,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3315,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3316,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Eliminating the Water Waste Water Market and dropping the duplicates Proposals

In [12]:
# setting up a column "market" as index 
indexNames = organized_2018_df[ organized_2018_df['Market'] == "Water/Wastewater"].index

print(indexNames)

Int64Index([  22,   59,  175,  208,  223,  267,  277,  289,  324,  330,
            ...
            3071, 3081, 3134, 3178, 3193, 3233, 3258, 3268, 3276, 3307],
           dtype='int64', length=101)

In [13]:
# Delete water waste water rows withing the data frame 
organized_2018_df.drop(indexNames , inplace=True)

organized_2018_df

,Customer ID 2018,Proposal #,Market,Project Name,Customer Name,Proposal Value,Estimated Value,Status,Notes,City,Zip Code,Contact Firt Name,Email,Year
0,14386,110413,Construction,571E2,MOTION INDUSTRIES INC,16944.20,5370.40,Valid,trailer mounted crane Sent to herb@ motion i...,FORT WORTH,76111,KEN*,NaN,18.0
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3312,10966\n,116579,Oil & Gas,Unknown,INDUSTRIAL AIR TOOL 101,8036.62,8036.62,Valid,NaN,PASADENA,77506,Rolando,rolandor@industrialairtool.com,18.0
3313,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3314,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3315,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3316,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
# Drop Duplicates in Estimated Value
indexDuplicates = organized_2018_df[ organized_2018_df['Status'] == "Duplicate"].index
print(indexDuplicates)

Int64Index([  74,  190,  195,  239,  361,  557,  575,  755,  963,  973,  978,
            1211, 1404, 1521, 1585, 1705, 1835, 1860, 2134, 2139, 2204, 2234,
            2239, 2580, 2607, 2730, 2837, 3076, 3173, 3281],
           dtype='int64')

In [15]:
organized_2018_df.drop(indexDuplicates , inplace=True)
organized_2018_df

,Customer ID 2018,Proposal #,Market,Project Name,Customer Name,Proposal Value,Estimated Value,Status,Notes,City,Zip Code,Contact Firt Name,Email,Year
0,14386,110413,Construction,571E2,MOTION INDUSTRIES INC,16944.20,5370.40,Valid,trailer mounted crane Sent to herb@ motion i...,FORT WORTH,76111,KEN*,NaN,18.0
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3312,10966\n,116579,Oil & Gas,Unknown,INDUSTRIAL AIR TOOL 101,8036.62,8036.62,Valid,NaN,PASADENA,77506,Rolando,rolandor@industrialairtool.com,18.0
3313,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3314,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3315,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3316,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Eliminating the NA withing the DF

In [16]:
# Drop Na values 
organized_2018_df.dropna(axis=0,how='all',thresh=None, inplace =True)
organized_2018_df

,Customer ID 2018,Proposal #,Market,Project Name,Customer Name,Proposal Value,Estimated Value,Status,Notes,City,Zip Code,Contact Firt Name,Email,Year
0,14386,110413,Construction,571E2,MOTION INDUSTRIES INC,16944.20,5370.40,Valid,trailer mounted crane Sent to herb@ motion i...,FORT WORTH,76111,KEN*,NaN,18.0
7,11269,110464,Oil & Gas,Unknown,BISHOP LIFTING PRODUCTS INC,861.00,861.00,Valid,NaN,HOUSTON,77029,Durand,durand.smith@lifting.com,18.0
12,18992,110470,Mining,Levelwind Sprocket/Chain Conversion Parts,SABINE MINING COMPANY SMC,591.10,0.00,Valid,NaN,HALLSVILLE,75650-7413,Nolan,nolan.drewery@nacoal.com,18.0
17,10966,110471,Bulk Handling,Unknown,INDUSTRIAL AIR TOOL 101,8028.50,8028.50,Valid,NaN,PASADENA,77506,DARRELL,darrell.sump@industrialairtool.com,18.0
33,15548,110507,Construction,GANTRY CRANE,SOUTHWEST WIRE ROPE INC,20112.00,20112.00,Valid,NaN,HOUSTON,77075,TOM,thanna@houwire.com,18.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3286,10966\n,103397D1,Manufacturing,Lifting Scrap Rings,INDUSTRIAL AIR TOOL 101,7914.62,7914.62,Valid,NaN,PASADENA,77506,CHRIS,cgilstrap@Industrialairtool.com,18.0
3291,19931,113365D3,MRO,IGNORE,HOUSTON SUPPLY & MANUFACTURING COMPANY,NaN,0.00,Ignore,RFQ BY EMAIL; SPECS PASTED IN EMAIL. BID IS D...,HOUSTON,77022,Aaron,aaron@houstonsupply.com,18.0
3296,18582,116545,Marine,2019 WINCH PRICING,ARCOSA MARINE PRODUCTS DBA NABRICO,1970.00,134300.00,Valid,NaN,DALLAS,75356-6028,Justin,justin.cook@trin.net,18.0
3301,CP39960,116570,Communications,Re-Quote,GENERAL DYNAMICS MISSION SYSTEMS,14070.00,14070.00,Valid,NaN,PLANO,75074,Amir,amir.khan@gd-ms.com,18.0
3312,10966\n,116579,Oil & Gas,Unknown,INDUSTRIAL AIR TOOL 101,8036.62,8036.62,Valid,NaN,PASADENA,77506,Rolando,rolandor@industrialairtool.com,18.0

## Resetting the Index know the total amount of Data

In [17]:
# Reset Index 
organized_2018_df.reset_index(drop=True, inplace=True)
organized_2018_df

,Customer ID 2018,Proposal #,Market,Project Name,Customer Name,Proposal Value,Estimated Value,Status,Notes,City,Zip Code,Contact Firt Name,Email,Year
0,14386,110413,Construction,571E2,MOTION INDUSTRIES INC,16944.20,5370.40,Valid,trailer mounted crane Sent to herb@ motion i...,FORT WORTH,76111,KEN*,NaN,18.0
1,11269,110464,Oil & Gas,Unknown,BISHOP LIFTING PRODUCTS INC,861.00,861.00,Valid,NaN,HOUSTON,77029,Durand,durand.smith@lifting.com,18.0
2,18992,110470,Mining,Levelwind Sprocket/Chain Conversion Parts,SABINE MINING COMPANY SMC,591.10,0.00,Valid,NaN,HALLSVILLE,75650-7413,Nolan,nolan.drewery@nacoal.com,18.0
3,10966,110471,Bulk Handling,Unknown,INDUSTRIAL AIR TOOL 101,8028.50,8028.50,Valid,NaN,PASADENA,77506,DARRELL,darrell.sump@industrialairtool.com,18.0
4,15548,110507,Construction,GANTRY CRANE,SOUTHWEST WIRE ROPE INC,20112.00,20112.00,Valid,NaN,HOUSTON,77075,TOM,thanna@houwire.com,18.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
301,10966\n,103397D1,Manufacturing,Lifting Scrap Rings,INDUSTRIAL AIR TOOL 101,7914.62,7914.62,Valid,NaN,PASADENA,77506,CHRIS,cgilstrap@Industrialairtool.com,18.0
302,19931,113365D3,MRO,IGNORE,HOUSTON SUPPLY & MANUFACTURING COMPANY,NaN,0.00,Ignore,RFQ BY EMAIL; SPECS PASTED IN EMAIL. BID IS D...,HOUSTON,77022,Aaron,aaron@houstonsupply.com,18.0
303,18582,116545,Marine,2019 WINCH PRICING,ARCOSA MARINE PRODUCTS DBA NABRICO,1970.00,134300.00,Valid,NaN,DALLAS,75356-6028,Justin,justin.cook@trin.net,18.0
304,CP39960,116570,Communications,Re-Quote,GENERAL DYNAMICS MISSION SYSTEMS,14070.00,14070.00,Valid,NaN,PLANO,75074,Amir,amir.khan@gd-ms.com,18.0
305,10966\n,116579,Oil & Gas,Unknown,INDUSTRIAL AIR TOOL 101,8036.62,8036.62,Valid,NaN,PASADENA,77506,Rolando,rolandor@industrialairtool.com,18.0

## Exporting the Clean and Organized Data Frame

In [18]:
# export the data frame to excel

organized_2018_df.to_csv("Output_files/texas_df_2018.csv",index=False)